<footer>

    <div class="footer-div">

       <div class="footer-horario-de-atencion">
            <div class="footer-titulo-horarios">
                <i class="fa-regular fa-clock"></i>
                <b>Nuestros horarios</b>
            </div>
                <p>
                    Lunes a viernes: 9 a 18 hs</br>
                    Sábados: 10 a 14 hs</br>
                </p>
        </div>

        <div class="footer-quien-somos">
            <b class="quien-somos-title">Quién somos</b>
            <p>Somos fabricantes y distribuidores de productos de vidrio. Llevamos más de 30 años fabricando vasos, copas y vajilla en general, enfocados siempre en ofrecer la mejor calidad </p>
       </div>

        <div class="div-footer-contact">
            <div class="footer-contact">
                <i class="fa-solid fa-location-dot"></i>
                <p>Pringles 1060, CABA</p>
            </div>

            <div class="footer-contact">
                <i class="fa-brands fa-whatsapp"></i>
                <p>+54 9 11 5504 2945</p>
            </div>

            <div class="footer-contact">
                <i class="fa-solid fa-at"></i>
                <p>ventas@sio2.com</p>
            </div>
        </div>

    </div>

</footer>

</body>
</html>