<nav class="products-menu">
    <ul class="menu">
        <li><a href="<%= categoryRoute %>copas">Copas</a></li>
        <li><a href="<%= categoryRoute %>tazas">Tazas</a></li>
        <li><a href="<%= categoryRoute %>vasos">Vasos</a></li>
        <li><a href="<%= categoryRoute %>vajilla">Vajilla</a></li>
    </ul>
</nav>

