<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Carrito de compras-->
<body class="cart-body">
    


<h3 class="cart-title1">Estamos trabajando en tu carrito de compras!</h3>
<div class="div-cart-img2">
<img src="/images/estamosTrabajando2.jpg" alt="carro-de-compras" class="cart-img2">
</div>

<p>Mientras tanto te damos otras opciones para hacer tus pedidos:</p>
<ul class="ul-opciones-compras">
    <li>Visitanos en: <b>Domicilio SiO2 1234, CABA</b></li>
    <li>Hacé tu pedido via mail: <b>ventas@sio2.com</b></li>
    <li>Hacé tu pedido por teléfono: <b>+ 54 9 11 1234 5678</b></li>
</ul>

<h4 class="cart-title2">Próximamente vas a poder hacer compras online</h4>



<div class="div-cart-img">
    <img src="/images/cart.jpg" alt="carro-de-compras" class="cart-img">
</div>
</body>
<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>