<%- include('./partials/head') %>
<%- include('./partials/header') %>
    
   <!--Carrusel Bootstrap comienzo -->
   <div class="carrousel">
    <h3 class="tituloSuperior">Novedades</h3>
    <div class="conteCarrousel">
        <div class="itemCarrousel" id="itemCarrousel-1">
            <div class="itemCarrouselTarjeta">
                <img src="./images/Banner/gintonic.jpg" alt="img-carrusel" class="imgs">
            </div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-3">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-2">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-2">
            <div class="itemCarrouselTarjeta">
                <img src="./images/Banner/collage-1-768x432.jpg" alt="img-carrusel" class="imgs">
            </div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-1">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-3">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="itemCarrousel" id="itemCarrousel-3">
            <div class="itemCarrouselTarjeta">
                <img src="./images/Banner/depositphotos_76110635-stock-photo-detox-water-with-tarragon.jpg" alt="img-carrusel" class="imgs">
            </div>
            <div class="itemCarrouselArrows">
                <a href="#itemCarrousel-2">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a href="#itemCarrousel-1">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="conteCarrouselController">
        <a href="#itemCarrousel-1">•</a>
        <a href="#itemCarrousel-2">•</a>
        <a href="#itemCarrousel-3">•</a>
    </div>
</div>
    
    

    

    <section class="section">
        <div class="row">  </div>

    </section>

    <div class="link-whatsapp"><i class="fa-brands fa-whatsapp"></i></div>

    <div class="contenedorCajas">
        <div class="tarjetaCategoriaHome">
          <a href="/views/productDetail.html"><button class="botonCajaCateg">VAJILLA</button></a>
          <div class="descripcionCateg">
            <img
              src="./images/productos/3808.jpg"
              alt="VAJILLA" 
            />
            <p>¡Este #MesdeMamá celebremos con la mesa más linda! 40% Off en toda nuestra Vajilla!</p>
          </div>
        </div>
        <div class="tarjetaCategoriaHome">
          <a href="/views/productDetail.html"><button class="botonCajaCateg">COPAS</button></a>
          <div class="descripcionCateg">
            <img src="images/productos/copas/Art. 3011.png" alt="COPAS" />
            <p>Tomá los mejores vinos con nuestras copas a un 20% y 6 cuotas sin interés.</p>
          </div>
        </div>
        <div class="tarjetaCategoriaHome">
          <a href="/views/productDetail.html"><button class="botonCajaCateg">VASOS</button></a>
          <div class="descripcionCateg">
            <img
              src="images/productos/vasos/Art. 6622.png"
              alt="VASOS"
            />
            <p>¡Ahora que viene el calor, refrescate con un buen jugo frio con nuestros vasos!</p>
          </div>
        </div>
        <div class="tarjetaCategoriaHome">
          <a href="/views/productDetail.html"><button class="botonCajaCateg">JARRAS</button></a>
          <div class="descripcionCateg">
            <img src="images/productos/vajilla general/art. 92164 II.png" alt="PASADOS" />
            <p>Conoce la variedad de jarras que tenemos disponibles.</p>
          </div>
        </div>
        <div class="tarjetaCategoriaHome">
          <a href="/views/productDetail.html"><button class="botonCajaCateg">POSTRES</button></a>
          <div class="descripcionCateg">
            <img src="/images/productos/postres/Art. 3808 I.png" alt="POSTRES"/>
            <p>¿Querés darle forma a tus postres? Mirá nuestra sección hecha para ustedes.
            </p>
          </div>
        </div>
      </div>


<%- include('./partials/linkWhatsApp') %>
<%- include('./partials/footer') %>