<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/acec93ee08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
</head>
<body>

    <header>
        
        <div class="main-header-top">
            
            <div class="burger-menu">
                <a href="#" class="burger_menu_ref"><i class="fas fa-bars"></i></a>
            </div>

            <div class="logo">
                <img src="./images/logo/logo_SiO2_2.jpeg" alt="Logo SiO2" class="img-logo">
            </div>

            <div class="search-bar-magnifying-glass">
                <input type="text" name="" id="" placeholder = "Buscar productos" class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
            <div class="magnifying-glass"><i class="fa-solid fa-magnifying-glass"></i></div>

            <div class="user-login"><i class="fa-regular fa-user"></i></div>
             
            <div class="product-cart"><i class="fa-solid fa-cart-shopping"></i></div>

            
        </div>

        <nav class="main-header-bottom">
            <ul class="menu">
                <li><a href="/Home">Inicio</a></li>
                <li><a href="/Productos">Productos</a></li>
                <li><a href="/Contacto">Contacto</a></li>
            </ul>
        </nav>          
    </header>

    

    

    <section class="section">

    </section>

    <div class="link-whatsapp"><i class="fa-brands fa-whatsapp"></i></div>


    <footer>
        
        <div class="footer-div">
            
           
           <div class="footer-horario-de-atencion">
                <div class="footer-titulo-horarios">
                    <i class="fa-regular fa-clock"></i>
                    <b>Nuestros horarios</b>
                </div>
                    <p>
                        Lunes a viernes: 9 a 18 hs</br>
                        Sábados: 10 a 14 hs</br>
                    </p>
            </div>

            <div class="footer-quien-somos">
                <b class="quien-somos-title">Quién somos</b>
                <p>Somos fabricantes y distribuidores de productos de vidrio. Llevamos más de 30 años fabricando vasos, copas y vajilla en general, enfocados siemrpe en ofrecer la mejor calidad </p>
           </div>

            <div class="div-footer-contact">
                <div class="footer-contact">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Pringles 1060, CABA</p>
                </div>

                <div class="footer-contact">
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>+54 9 11 5504 2945</p>
                </div>

                <div class="footer-contact">
                    <i class="fa-solid fa-at"></i>
                    <p>ventas@sio2.com</p>
                </div>
            </div>

                


        </div>

    </footer>
    
</body>
</html>