.products-title{
    text-align: center;
    font-size: 30px;
    margin-top:20px;
    margin-bottom:20px;
}

.products-menu{
    display: none
}
.grid-products{
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.product{
    border-radius:20px;
    border:grey solid 2px;
    width:80vw;
    padding:5px;
    margin:auto;
    margin-bottom:10px;
}

.product:hover{
    border: black solid;
    
}

.div-description{
    margin-top:10px;
    height: 42px;
    vertical-align: middle;
    text-align: center;
}

.product-detail-link{
    text-decoration: none;
    color:black
}

.product-detail-link:hover{
    text-decoration: none;
    color:black
}


.description{
    font-size:15px;
    color:black;

}

.div-product-image{
    position:relative;
    text-align: center;
    border-bottom: grey solid 1px;
    padding-bottom:5px;
    padding-top:5px;
    position:relative
}

.product-image{
    height:100px;
}

.div-stock{

    position:absolute;
    border-radius: 5px;
    font-size: 13px;
    bottom:3px;
    left:70%;
    width:75px;
    height: 30px;
    color:rgb(245, 99, 99)

}

.div-price-discount{
    position:relative
}
.discount{
    position:absolute;
    top: 1%;
    left:70%;
    width:75px;
    height: 30px;
    color:rgb(58, 185, 58);
    width:120px 
}


.div-add-to-cart{
    text-align: center;
}

.add-to-cart{
    border-radius: 5px;
    background-color: rgb(174, 169, 169);
    font-size:15px;
    padding:5px 5px 5px 5px;
    color:black;
    transition:all 0.5s;

}

.btn-edit,.btn-delete{
    font-size:15px;
    color:black;
    transition: all 0.5ms;
    text-decoration: none;
}

.btn-edit:hover,.btn-delete:hover{
    text-decoration: none;
    color:black
}


.add-to-cart:hover,.div-edit-product:hover,.div-delete-product:hover{
    background-color: rgb(235, 207, 212);
    color:rgb(207, 136, 136);
    text-decoration: none;
    color:black
}

.div-edit-product, .div-delete-product{
    width:25%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(174, 169, 169);
    transition:all 0.5s
}

.div-flex-edit-delete{
    display: flex;
    justify-content: center;
    margin-top:5px;
    column-gap:3px
}

@media (min-width:478px){
    .grid-products{
        grid-template-columns: 1fr 1fr;
    }

    .product{
        width:45vw
    }
}

@media (min-width:769px){

    .products-menu{
        display: flex;
        justify-content: center;
        margin-bottom:15px

    }

    .grid-products{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .product{
        width:30vw
    }

}

@media (min-width:1100px){
    .grid-products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .product{
        width:20vw
    }

}
