.product-div{
    width: 80vw;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px    
}

.product-title-div{
    text-align: center;
    margin-bottom:20px
}

.product-title{
    font-size: 16px;
}

.img-product-detail{
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom:20px    
}

.btn-agregar{
    font-size: 15px;
    width: 150px;
    display: block;
    margin:auto;
    border-radius: 5px;
    border:none;
    background-color: rgb(181, 181, 181);
}

@media (min-width:478px){
    .product-title{
        font-size: 20px;
    }

    .img-product-detail{
        width: 150px;
         
    }

    .div-product-not-found{
        margin-top:20px;
        margin-left:20px;
        margin-bottom:20px
    }


    
}
