/*GENERAL-------------------------------*/
*{
    font-family:Arial, Helvetica, sans-serif;
}

/*HEADER--------------------------------*/

header{
    background-color: rgb(235, 207, 212);
    padding:10px
}

.main-header-top{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.burger-menu{
    width:5%;
    padding-left:5px
}

.logo{
    width:50%
}

.img-logo{
    height: 30px;
}

.fa-bars{
    color:black;
    font-size: 20px;
}

.search-bar-magnifying-glass{
    display:none
}

.main-header-bottom{
    display:none
}



/*SECCION----------------------------------------*/

/*BANNER------------------------------------------*/

.banner{
    margin-top:300px;
    margin-bottom:-5px;
    padding:0px;
}


/*WHATSAPP---------------------------------------*/

.link-whatsapp{
    position:absolute;
    position:fixed;
    background-color: rgb(123, 185, 31);
    padding:5px 8px;
    border-radius: 50%;
    top:85%;
    left: 90%;
}

.fa-whatsapp{
    font-size:20px;
    color:white

}





/*FOOTER-----------------------------------------*/

footer{
    background-color: rgb(209, 201, 201);
    font-size: 13px;
    padding:10px;
    margin-top:0px
}

.footer-quien-somos{
    display: none;
}

.footer-horario-de-atencion{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.footer-titulo-horarios{
    text-align: center;
    margin-bottom:5px
}


.footer-contact{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    
    
}

.footer-contact i{
    margin: 0px;
    color: black;
    font-size: 12px;
    margin-bottom:5px;
    
}


p{
    text-align: center;
    margin: 0px;
    margin-bottom:5px;
    
}




@media (min-width:478px){
    
    .burger-menu, .magnifying-glass{
        display:none
    }

    .img-logo{
        height: 50px;
    }

    .logo{
        width:25%
    }

    .search-bar-magnifying-glass{
        display:block;
        width:60%;
        position:relative
    }

    .search-bar{
        width:80%;
        height: 30px;
        border-radius:20px;
        border: solid 1px white;
        
    }

    .fa-magnifying-glass{
        position:absolute;
        left:75%;
        top:10px
    }

    .link-whatsapp{
        
        top:90%;
        left: 90%;
    }

    .main-header-bottom{
        display:block;
        padding-bottom:0px;
        padding-bottom:0px
    }

    .menu{
        display:flex;
        justify-content: center;
        column-gap:30px;
        list-style: none;
        padding:0px;
        margin-bottom:5px;
        margin-top:5px
    }

    .menu a{
        text-decoration: none;
        color:black;
        padding:3px 5px 3px 5px;
        color:white;
        margin-bottom:0px;
        font-size: 15px;
    }

    
    .menu a:hover{
        box-shadow: 0px 0px 6px rgb(119, 97, 141);
        color:rgb(193, 186, 186);
        transition: all 100ms;
    }

}

@media (min-width:769px){
    .img-logo{
        height: 70px;
    }

    .fa-cart-shopping, .fa-user{
        font-size: 25px;
    }

    header{
        padding: 20px 30px 10px 30px ;

    }

        
    .fa-whatsapp{
        font-size:30px;
        
    }

    .menu a{
        
        font-size: 18px;
    }

    footer{
        padding-bottom: 50px;
        padding-top: 50px;
        font-size: 15px;
    }

    

    .footer-div{
        display:flex;
        justify-content: space-around;
    }

    .footer-quien-somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:250px;
    }

    .footer-quien-somos b{
        margin-bottom: 5px;
    }

    

    .div-footer-contact{
        display: flex;
        flex-direction: column;
    }

    .footer-horario-de-atencion, .div-footer-contact{
        justify-content: center;
    }

    



    
}
