/*GENERAL-------------------------------*/
*{
    font-family:Arial, Helvetica, sans-serif;
    
}

/*HEADER--------------------------------*/

header{
    background-color: rgb(235, 207, 212);
    padding:10px
}

.main-header-top{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.burger-menu{
    width:5%;
    padding-left:5px
}

.logo{
    width:50%
}

.img-logo{
    height: 30px;
}

.fa-bars{
    color:black;
    font-size: 20px;
}

.search-bar-magnifying-glass{
    display:none
}


.main-header-bottom{
    display:none
}

.tituloSuperior {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    color:rgb(189, 235, 236);
    background-color:rgb(226, 50, 50);
    border-top: solid 2px  rgb(19, 19, 19);
    /* border-bottom: solid 1px rgb(190, 190, 0); */
    border-bottom: solid 2px rgb(19, 19, 19);
    transition: all 450ms;
}

.user-image{
    display:none
}
.product-cart{
    margin-right:20px;
    margin-left:10px
}
.user-logged{
    font-size:12px;
    margin-left:10px
}

/*CARROUSEL-------------------------------*/
.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows >  i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);

}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: black;
}

.imgs{
    width: 100%;
    height: 100%;
}

/*BANNER------------------------------------------*/

.banner{
    margin-top:300px;
    margin-bottom:-5px;
    padding:0px;
}


/*WHATSAPP---------------------------------------*/

.link-whatsapp{
    position:absolute;
    position:fixed;
    background-color: rgb(123, 185, 31);
    padding:5px 8px;
    border-radius: 50%;
    top:85%;
    left: 90%;
}

.fa-whatsapp{
    font-size:20px;
    color:white

}


 /*PRODUCTS CART------------------------------*/

 .grid-container{
    display:grid;
    grid-template-columns: 1fr 3fr;
 }

 .grid-title{
    font-size: 13px;
    margin-bottom:12px
 }

.grid-item-1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 10;
    
 }

 .flex-items{
    display:flex;
    justify-content: center;
    column-gap:20px;
    font-size:10px;
 }


/*FOOTER-----------------------------------------*/

footer{
    background-color: rgb(209, 201, 201);
    font-size: 13px;
    padding:10px;
    margin-top:0px
}

.footer-quien-somos{
    display: none;
}

.footer-horario-de-atencion{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.footer-titulo-horarios{
    text-align: center;
    margin-bottom:5px
}


.footer-contact{
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;


}

.footer-contact i{
    margin: 0px;
    color: black;
    font-size: 12px;
    margin-bottom:5px;

}


p{
    text-align: center;
    margin: 0px;
    margin-bottom:5px;

}
/*CONTENEDOR DE PRODUCTOS*/

.contenedorCajas {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    background-color:rgb(235, 207, 212);
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
  }
  .tarjetaCategoriaHome {
    padding: 0.5rem;
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 10px;
    border: solid 1px rgb(28, 28, 28);
    scroll-snap-align: center;
    min-width: 250px !important;
    transition: all 0.5s;
    max-width: 310px;
  }
  .botonCajaCateg {
    margin: auto;
    border-radius: 15px;
    border: solid 1px rgb(190, 0, 98);
    background-color: #c84397;
    color: white;
    width: 100px;
    height: 60px;
  }
  .descripcionCateg {
    margin: auto;
    width: 95%;
  }
  .descripcionCateg img {
    margin-top: 10px;
    width: 100%;
    height: 165px;
    border-radius: 10px;
    transition: 1s;
  }
  .descripcionCateg p {
    color: #c01b65;
    margin-bottom: 0;
    transition: all 1s;
  }

  .tarjetaCategoriaHome a {
    background-color: #0d151d;;
    text-decoration: none;
  }
  .tituloSuperior:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
  }
  .tituloInferior:hover{
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
  }

  .botonCajaCateg:hover{
    color:rgb(2, 1, 1);
  }

  .tarjetaCategoriaHome:hover {
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
  }
  .tarjetaCategoriaHome:hover img {
    height: 0;
  }
  .tarjetaCategoriaHome a:hover {
    color: blue;
  }
  .tarjetaCategoriaHome:hover .descripcionCateg p {
    font-size: 20px;
    color: #c01b65;
    text-align: center;
  }

.conteCarrousel{
    height: 600px;
}



@media (min-width:478px){

    .burger-menu, .magnifying-glass{
        display:none
    }

    .img-logo{
        height: 20px;
    }

    .logo{
        width:25%
    }

    .search-bar-magnifying-glass{
        display:block;
        width:60%;
        position:relative
    }

    .search-bar{
        width:80%;
        height: 30px;
        border-radius:20px;
        border: solid 1px white;
    }

    .fa-magnifying-glass{
        position:absolute;
        left:75%;
        top:10px
    }

    .link-whatsapp{
        top:90%;
        left: 90%;
    }

    .main-header-bottom{
        display:block;
        padding-bottom:0px;
        padding-bottom:0px;
    }

    .menu{
        display:flex;
        justify-content: center;
        column-gap:30px;
        list-style: none;
        padding:0px;
        margin-bottom:5px;
        margin-top:5px;        
    }

    .menu-users{
        position:relative;
        transition:all 0.5s        
    }

    .submenu-users{
        list-style: none;
        margin:auto;
        padding:0px;
        display:none;
        position: absolute;
        transition:all 0.5s;
        background-color: rgb(247, 231, 234);
        padding-bottom:5px;
        z-index: 1;       
        
    }

    .menu-products{
        position:relative;
        transition:all 0.5s
        
    }
    .submenu-products{
        list-style: none;
        margin:auto;
        padding:0px;
        display:none;
        position: absolute;
        transition:all 0.5s;
        background-color: rgb(247, 231, 234);
        padding-bottom:5px;
        z-index: 1;
        
    }

    .submenu{
        width:100px;
        text-align: center;
        background-color: rgb(247, 231, 234);
        margin-top:3px;
    }

    

    .menu-users:hover > .submenu-users{
        display:block
    }

    .menu-products:hover > .submenu-products{
        display:block
    }

    .menu a, .submenu a{
        text-decoration: none;
        color:black;
        padding:3px 5px 3px 5px;
        color:#2a0808;
        margin-bottom:0px;
    }    


    .menu a:hover, .submenu a:hover{
        box-shadow: 0px 0px 6px rgb(119, 97, 141);
        color:rgb(207, 136, 136);
        transition: all 100ms;
    }

    
    
    #product-to-edit{
        width: 125px;

    }

    .user-image{
        height: 40px;
    }

    .fa-chevron-down{
        font-size: 13px;
    }

    .user-image{
        display:inline
    }
    
    .user-logged{
        font-size:15px;
        
    }

    .user-login{
        width: 200px;
        
    }
    

}

@media (min-width:769px){
    .img-logo{
        height: 70px;
    }

    .fa-cart-shopping, .fa-user{
        font-size: 25px;
    }

    header{
        padding: 20px 30px 10px 30px ;

    }


    .fa-whatsapp{
        font-size:30px;

    }

    .menu a{
        font-size: 18px;
    }
    .submenu a{
        font-size: 13px;
    }

    footer{
        padding-bottom: 50px;
        padding-top: 50px;
        font-size: 15px;
    }



    .footer-div{
        display:flex;
        justify-content: space-around;
    }

    .footer-quien-somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:250px;
    }

    .footer-quien-somos b{
        margin-bottom: 5px;
    }



    .div-footer-contact{
        display: flex;
        flex-direction: column;
    }

    .footer-horario-de-atencion, .div-footer-contact{
        justify-content: center;
    }

}

.login-registro{
    width: auto;
}

.login-ingresar{
    width: auto;
}
