<%- include('./partials/head') %>
<%- include('./partials/header') %>


   <!--Carrusel Bootstrap comienzo -->

   <body class="index-body">
    <div class="div-main-image">
      <img src="./images/Banner/libbey.jpg" alt="banner-libbey" class="banner-image" >
    </div>
    <div class="slogan">
      <p class="p-slogan">Una amplia selección de cristalería para tus mejores ocasiones</p>

    </div>
  
    <div class="div-categories">
      <div class="div-category"><a href="/products/products-filtered/copas" class="div-category-link">
        <div class="div-button">
          <span class="link-index">Copas</span>
        </div>
        <img src="./images/index/copas.jpg" alt="copas-libbey" class="div-category-image" >
        <div class="div-description">
          <p>Las copas más elegantes para disfrutar de sus bebidas</p>
        </div></a>
      </div>
      <div class="div-category"><a href="/products/products-filtered/vasos" class="div-category-link">
        <div class="div-button">
          <span class="link-index">Vasos</span>
        </div>
        <img src="./images/index/vasos.jpg" alt="vasos-libbey" class="div-category-image" >
        <div class="div-description">
          <p>Vasos diseñados para cada tipo de bebida</p>
        </div></a>
      </div>
      <div class="div-category"><a href="/products/products-filtered/jarras" class="div-category-link">
        <div class="div-button">
          <span class="link-index">Jarras</span>
        </div>
        <img src="./images/index/jarras.jpg" alt="jarras-libbey" class="div-category-image" >
        <div class="div-description">
          <p>Las jarras más prácticas y con el diseño más bonito</p>
        </div></a>
      </div>
      
      <div class="div-category"><a href="/products/products-filtered/chops" class="div-category-link">
        <div class="div-button">
          <span class="link-index">Chops</span>
        </div>
        <img src="./images/index/chops.jpg" alt="chops-libbey" class="div-category-image" >
        <div class="div-description">
          <p>Chops para poder disfrutar de una cerveza bien fría con amigos</p>
        </div></a>
      </div>
      <div class="div-category"><a href="/products/products-filtered/vajilla" class="div-category-link">
        <div class="div-button">
          <span class="link-index">Vajilla</span>
        </div>
        <img src="./images/index/vajilla.jpg" alt="vajilla-libbey" class="div-category-image" >
        <div class="div-description">
          <p>Una amplia variedad de vajilla para vestir las mesas más elegantes y completas</p>
        </div></a>
      </div>
    
  
    </div>
    
   </body>

  
  
    



<%- include('./partials/linkWhatsApp') %>
<%- include('./partials/footer') %>