<body>

<header>

    <div class="main-header-top">

        <div class="burger-menu">
            <a href="#" class="burger_menu_ref"><i class="fas fa-bars"></i></a>
        </div>

        <div class="logo">
            <img src="/images/logo/logo_SiO2.jpeg" alt="Logo SiO2" class="img-logo">
        </div>

        <div class="search-bar-magnifying-glass">
            <input type="text" name="" id="" placeholder = "Buscar productos" class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="magnifying-glass"><i class="fa-solid fa-magnifying-glass"></i></div>

        <div class="user-login">

            <!---<i class="fa-regular fa-user"></i>--->
            <% if (!locals.isLogged) { %>
                <img src="/images/usersImages/default.jpg" alt="user-image" class="user-image">
                <b>Bienvenido</b>
            <% } %>
            <% if (locals.isLogged) { %>
                <img src="/images/usersImages/<%= locals.userLogged.image %> " alt="user-image" class="user-image">
            <% } %>
            <% if (locals.userLogged) { %>
                <b><%= locals.userLogged.company %></b>
            <% } %>
            
        </div>

        <div class="product-cart"><a href="/products/product-cart"><i class="fa-solid fa-cart-shopping"></i></a></div>

    </div>

    <nav class="main-header-bottom">
        <ul class="menu">
            <li><a href="/">Inicio</a></li>
            <li class="menu-products"><a href="/products">Productos<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu-products">
                    <li class="submenu"><a href="/products/products-filtered/copas">Copas</a></li>
                    <li class="submenu"><a href="/products/products-filtered/tazas">Tazas</a></li>
                    <li class="submenu"><a href="/products/products-filtered/vasos">Vasos</a></li>
                    <li class="submenu"><a href="/products/products-filtered/vajilla">Vajilla</a></li>
                </ul>
            </li>
            <li class="menu-users"><a href="">Usuarios<i class="fa-solid fa-chevron-down"></i></a>
                <ul class="submenu-users">
                    <% if (!locals.isLogged) { %>
                        <li class="submenu"><a href="/users/register">Registrarse</a></li>
                        <li class="submenu"><a href="/users/login">Iniciar sesión</a></li>                        
                    <% } %>
                    
                    <% if (locals.isLogged) { %>
                        <li class="submenu"><a href="/users/logout">Cerrar sesión</a></li>
                        <li class="submenu"><a href="/users/profile">Mi perfil</a></li>                     
                    <% } %>
                </ul>
            </li>
            <% if (locals.userLogged && locals.userLogged.category == 'administrador') { %>
                <li><a href="/products/create-product">Crear Producto</a></li>                     
            <% } %>
            
        </ul>
    </nav>

</header>

