<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de creación de producto-->
<h3 class="form-title">Datos del producto a crear</h3>


<form action="/products"  enctype="multipart/form-data" method="POST" id="form-create">
        <div class="div-name">
            <input type="text" id="id" name="id" placeholder="Código del producto" class="form-input">
        </div>
        <div class="div-description">
            <input type="text" id="description" name="description" placeholder="Descripción" class="form-input">
        </div>
        <div>
            <select name="category" id="category">
                <option value="default" selected>Seleccione una categoría</option>
                <option value="default">Chops</option>
                <option value="default">Copas</option>
                <option value="default">Jarras</option>
                <option value="default">Tazas</option>
                <option value="default">Vajilla</option>
                <option value="default">Vasos</option>
            </select>
        </div>
        <div class="div-price">
            <input type="number" id="price" name="price" placeholder="Precio (AR$)" class="form-input">
        </div>
        <div class="div-discount">
            <input type="number" id="discount" name="discount" placeholder="Descuento (%)" class="form-input">
        </div>
        
        <div class="div-stock-form">
            <input type="number" id="stock" name="stock" placeholder="Stock (unidades)" class="form-input">
        </div>
        
        <div class="div-image">
            <input type="file" id="image" name="image" class="form-input">
        </div>
        <div class="div-buttons">
            <button type="reset" class="create-form-button">Borrar datos</button>
            <button type="submit" class="create-form-button">Guardar producto</button>
        </div>
</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>