<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Formulario de registro-->
<h3 class="form-title">Seleccione producto a eliminar</h3>

<form action="/" method="POST" id="search-product" name="search-product">
    <div class="div-product-to-edit">
        <input type="text" name="product-to-edit" id="product-to-edit" placeholder="Item">
        <button type="submit" id="btn-search-product">Buscar</button>
        <button type="submit" id="btn-delete-product">Borrar</button>
    </div>
</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>