<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Carrito de compras-->
<h3 class="form-title">Carrito de compras</h3>

<div class="grid-container">
    <div class="cart-resume grid-item-1">
        <p class="grid-title"><b>Resumen</b></p>
    </div>
    <div class="cart-detail grid-item-2">
        <p class="grid-title"><b>Detalle de tu compra</b></p>
        <div class="detail-titles flex-items">
            <p>Producto</p>
            <p>Precio</p>
            <p>Cantidad</p>
            <p>Total</p>
        </div>
        <div class="item flex-items">
            <p>Item1</p>
            <p>$</p>
            <p>xx</p>
            <p>xxx</p>
        </div>
        <div class="item flex-items">
            <p>Item2</p>
            <p>$</p>
            <p>xx</p>
            <p>xxx</p>
        </div>
        <div class="item flex-items">
            <p>Item3</p>
            <p>$</p>
            <p>xx</p>
            <p>xxx</p>
        </div>
    </div>
</div>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>