<%- include('../partials/head') %>
<%- include('../partials/header') %>

<!-- Carrito de compras-->
<body class="cart-body">
    


<h3 class="cart-title1">Estamos trabajando para que puedas editar tu perfil</h3>
<div class="div-cart-img2">
<img src="/images/estamosTrabajando2.jpg" alt="carro-de-compras" class="cart-img2">
</div>

<p>Mientras tanto te damos otras opciones para solicitar los cambios:</p>
<ul class="ul-opciones-compras">
    <li>Visitanos en: <b>Domicilio SiO2 1234, CABA</b></li>
    <li>Solicitalos via mail: <b>ventas@sio2.com</b></li>
    <li>Solicitalos por teléfono: <b>+ 54 9 11 1234 5678</b></li>
</ul>

<h4 class="cart-title2">Próximamente vas a poder hacer tus propios cambios</h4>



<div class="div-edit-profile-img">
    <img src="/images/estamosTrabajando3.jpg" alt="ediar-usuario" class="edit-user-img">
</div>
</body>
<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>