<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h3 class="form-title">Recuperar Contraseña</h3>

<form action="/" method="POST" id="form-register" name="form-register">
    <div>
        <input type="text" name="email" id="email" placeholder="Ingresa tu Email">
    </div>

    <div id="buttons">
        <button type="reset" class="login-registro" onclick = "location='/login'">Cancelar</button> 
        <button type="submit" class="login-ingresar">Recuperar</button>
    </div>

</form>

<%- include('../partials/linkWhatsApp') %>
<%- include('../partials/footer') %>
